.form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

button {
  margin: 1.25rem 1rem 0 0;
  
  transition: color 0.2s;
}

.buttonUpdate {
  background-color: #e3536b;
  color: #FFF;
}

.buttonUpdate:hover {
  background-color: #c24459;
  color: #ffffff;
}

.buttonCancel:hover {
  background-color: #dad5d5;
  color: #4d4949;
}