.sidenav {
  background-image: linear-gradient(#272c35, #5b7096);
  width: 10rem;
  padding-top: 1.25rem;
}

.sidenav a {
  color: #FFF;
}

.sidenav a:hover {
  background-image: linear-gradient(to right, #0f3d92, #1e9da7);
  color: black;
}

.sidenav i {
  padding-right: 0.62rem;
}

.content {
  padding: 1rem;
  background-color: #FFF;
}