.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #FFF;
}

.footer > span {
  font-size: 0.8rem;
  font-weight: 300;
}
.footer i {
  font-size: 1.2rem;
}

.footer .linkGit {
  text-decoration: none;
  color: #000000;
}
.footer .linkGit:hover {
  color: #16134b;
}