/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.v-middle {
    margin-bottom: 0.25rem;
    vertical-align: middle;
}

.message-sucess {
  background-color: #3ac95b;
  color: #000;
  filter: opacity(0.8);
}

.message-error {
  background-color: #e35e6b;
  color: #000;
  filter: opacity(0.8);
}